<p-toast></p-toast>

<div class="todoDatatable">

  <p-table #dt [value]="todos" tableStyleClass="todoDatatable" styleClass="p-datatable-sm" dataKey="Id"
    selectionMode="multiple" [(selection)]="selectedTodos" [lazy]="true" (onLazyLoad)="loadTodos()">
    <ng-template pTemplate="caption">
      <p-toolbar>
        <div class="p-toolbar-group-start">

          <form [formGroup]="todoForm" id="createTodo" (submit)="onSumbit()">
            <div class="p-inputgroup">
              <button pButton pRipple type="button" icon="pi pi-refresh" class="refresh p-button-help p-button-outlined"
                label="" (click)="loadTodos()"></button>
              <input type="text" pInputText placeholder="Title" id="Title" name="title" formControlName="title" />
              <button type="submit" pButton icon="pi pi-plus" class="p-button-outlined"></button>
              <button pButton pRipple type="button" icon="pi pi-check" class="p-button-warning p-button-outlined"
                label="" (click)="MarkCompleted($event)" [disabled]="!selectedTodos || !selectedTodos.length"></button>
              <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger p-button-outlined"
                label="" (click)="Delete($event)" [disabled]="!selectedTodos || !selectedTodos.length"></button>
            </div>
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id">
          </form>
        </div>
      </p-toolbar>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [class.completed]="item.Completed" [pSelectableRow]="item">
        <td><i *ngIf="item.Completed" class=" fa-sharp fa-solid fa-check-to-slot"></i></td>
        <td>
          <span class="created">
            {{ item.CreatedAt}}
          </span>
          <span class="title"> {{ item.Title }}
          </span>

        </td>
        <td style="width:30px;">
          <button type="button" class="p-button-success p-button-text" pButton pRipple icon="pi pi-pencil"
            (click)="Edit(item)"></button>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="15">No Todo found.</td>
      </tr>
    </ng-template>

  </p-table>

</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>