tr.completed td span.title,
tr.completed td span.created {
  text-decoration: line-through;
}

tr.completed td span.title,
tr.completed td span.created,
tr.completed td i {
  color: #999 !important;
}
tr td span.title {
  display: block;
}
tr td span.created {
  font-size: 0.6rem;
  font-weight: bold;
  width: 20%;
  float: right;
}
tr td span.title {
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  float: left;
}

.todoDatatable tr td {
  border: 1px solid #dedede !important;
}

.todoDatatable .p-button-text {
  padding: 0px !important;
}

.todoDatatable .p-highlight .p-button-text {
  color: #ffffff !important;
}
.todoDatatable form {
  margin-left: 5px;
}

.todoDatatable form .p-inputgroup button,
.todoDatatable form .p-inputgroup input {
  background: #fff !important;
  border: 1px solid rgb(177, 177, 177) !important;
  border-left: none !important;
}

.todoDatatable form .p-inputgroup button.refresh {
  border-left: 1px solid rgb(177, 177, 177) !important;
}

.todoDatatable form .p-inputgroup button:hover:not(:disabled) {
  background: #ccc !important;
}
