<div class="x_panel" *ngIf="isAdmin|| isDoctor">

  <div class="x_content_inner">
    <p-toast></p-toast>
    <div class="row">
      <div class="col">
        <p-tabView styleClass="tabview-custom">
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-calendar"></i>
              <span>Patient Details</span>
            </ng-template>
            <app-patient-info *ngIf="patientLoaded" [PatientId]="PatientID"></app-patient-info>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa fa-medkit"></i>&nbsp;
              <span>History</span>
            </ng-template>
            <app-prescription-detail *ngIf="patientLoaded" [PatientId]="PatientID"></app-prescription-detail>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa fa-shield"></i>&nbsp;
              <span>Lab Reports</span>
            </ng-template>
            <app-reports-detail *ngIf="patientLoaded" [PatientId]="PatientID"></app-reports-detail>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="row">
      <div class="col-4">

        <form [formGroup]="mainForm" (submit)="onSubmit()" novalidate class="fmdc-form">

          <p-divider align="left" type="dashed"><span class="divider-header">Add Medication</span></p-divider>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="medicationId">Medication:</label>
              <p-dropdown [options]="medicationList" optionLabel="Name" optionValue="Code" [showClear]="true"
                placeholder="Select a Medicine" id="medicationId" id="medicationId" name="medicationId"
                formControlName="medicationId" dataKey="Code">
              </p-dropdown>
            </div>
          </div>
          <div class=" p-fluid grid row">
            <div class="field col-6 md:col-6">
              <label for="quantity">Quantity:</label>
              <p-inputNumber formControlName="quantity" [showButtons]="true" mode="decimal" [minFractionDigits]="2"
                [min]="0" [max]="100" [step]="0.5"></p-inputNumber>
            </div>
            <div class="field col-6 md:col-6">
              <label for="unit">Unit:</label>
              <p-dropdown [options]="unitsList" optionLabel="Name" optionValue="Name" [showClear]="true"
                placeholder="Select a Unit" id="unit" id="unit" name="unit" formControlName="unit" dataKey="value">
              </p-dropdown>
            </div>
          </div>
          <div class=" p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="times">Times/Day:</label>
              <p-inputNumber formControlName="times" [showButtons]="true" mode="decimal" [minFractionDigits]="2"
                [min]="0" [max]="100" [step]="1"></p-inputNumber>
            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-6 md:col-4">
              <button pButton type="button" label="Add" class="p-button-help" (click)="addMedicine()"></button>
            </div>
          </div>

          <p-divider align="left" type="dashed"><span class="divider-header">Add Diagnosis &amp;
              Remarks</span></p-divider>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="diagnosis">Diagnosis: <span class="warning">(Max 1000 chars)</span></label>
              <textarea tabindex="3" id="diagnosis" formControlName="diagnosis" pInputTextarea [autoResize]="true"
                maxlength="1000" [class.ng-invalid]="diagnosis?.errors"></textarea>
            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="remarks">Clinical Remarks: <span class="warning">(Max 1000 chars)</span></label>
              <textarea tabindex="3" id="remarks" formControlName="remarks" pInputTextarea [autoResize]="true"
                maxlength="1000" [class.ng-invalid]="remarks?.errors"></textarea>
            </div>
          </div>
          <div class=" p-fluid grid row">
            <div id="errorContainer" class="alert alert-warning text-danger p-fluid grid row col-12" role="alert"
              *ngIf="!mainForm.valid  && isSubmitted">

              <p>Form contains following {{totalErrors}} errors:</p>
              <ul>
                <li *ngFor="let errorStr of validationErrors">
                  {{errorStr.error_message}}
                </li>
              </ul>
            </div>
          </div>
          <p-divider align="left" type="dashed"><span class="divider-header">Generate
              Prescription</span></p-divider>

          <div class="p-fluid grid row">
            <div class="field col-6 md:col-4">
              <button pButton type="submit" label="Generate" [disabled]="savePrescriptionDisabled"
                class="p-button-success"></button>
            </div>
            <div class="field col-4 md:col-4">
              <button pButton type="button" label="Reset" class="p-button-danger "></button>
            </div>
          </div>

        </form>

      </div>
      <div class="col-6">
        <form (submit)="updateVitals()" [formGroup]="AddVitalsForm" novalidate class="fmdc-form-top vitals-form">
          <p-divider align="left" type="dashed"><span class="divider-header">Add Vitals</span></p-divider>

          <div class="p-fluid grid row">
            <label class="vitals-control" for="bp">BP:</label>
            <input class="vitals-control" tabindex="1" id="bp" formControlName="bp" pInputText />
            <label class="vitals-control" for="pulse">Pulse:</label>
            <input class="vitals-control" tabindex="1" id="pulse" formControlName="pulse" pInputText />
            <label class="vitals-control" for="bsr">BSR:</label>
            <input class="vitals-control" tabindex="1" id="bsr" formControlName="bsr" pInputText />
            <label class="vitals-control" for="temp">Temp:</label>
            <input class="vitals-control" tabindex="1" id="temp" formControlName="temp" pInputText />
            <label class="vitals-control" for="wt">Wt:</label>
            <input class="vitals-control" tabindex="1" id="wt" formControlName="wt" pInputText />
            <label class="vitals-control" for="ht">Ht:</label>
            <input class="vitals-control" tabindex="1" id="ht" formControlName="ht" pInputText />
          </div>
          <div class="p-fluid grid row">
            <div class="field col-4 md:col-4"></div>
            <div class="field col-4 md:col-4">
              <button pButton type="submit" class="p-button-warning" label="Add Vitals"></button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <div class="prescription-preview">
              <div class="p-fluid grid row">
                <div class="field col-12 md:col-12">
                  <h2>Prescription Preview</h2>
                </div>
              </div>
              <div class="p-fluid grid row prescription-details">
                <div class="field col-12 md:col-12">
                  <p class="header">Medicines:</p>
                  <app-prescriptionmedication [medicationsInput]="selectedMedicationList"
                    (DeleteMedicine)="deleteMedicine($event)"></app-prescriptionmedication>
                </div>
              </div>
              <div class="p-fluid grid row prescription-details"></div>
              <div class="field col-12 md:col-12">
                <p class="header">Lab Tests Advised:</p>
                <ul>
                  <li *ngFor="let test of selectedLabTests">
                    {{test.label}}
                  </li>
                </ul>
              </div>
              <div class="field col-12 md:col-12" *ngIf="showVitals">
                <p class="header">Vitals:</p>
                <p><b>BP:</b> {{this.prescription.Bp}} <b>Pulse:</b> {{this.prescription.Pulse}} <b>Bsr:</b>
                  {{this.prescription.Bsr}} <b>Temp:</b> {{this.prescription.Temp}} <b>Wt:</b> {{this.prescription.Wt}}
                  <b>Ht:</b> {{this.prescription.Ht}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <app-add-lab-reports (UpdateLabTests)="updateSelectedLabTests($event)"></app-add-lab-reports>

      </div>
    </div>
  </div>