/* .prescription-preview .prescription-details div {
  border: 1px solid #dedede;
} */

.prescription-preview h2 {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 20pt;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

p.header {
  display: block;
  text-align: left;
  margin-top: 20px;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

.vitals-control {
  width: 7.8%;
  margin: 5px 1px;
  padding: 3px;
  display: flex;
  vertical-align: middle;
  float: left;
  text-align: center;
  /* border: 1px solid red !important; */
}
