<!-- <accordion [collapsing]="true" *ngIf="menuItems.length > 0">
  <accordion-item *ngFor="let item of menuItems" haschild="{{ item.haschild }}">
    <ng-template accordionTitle>
      <div class="flex space-x-2">
        <i class="fa {{ item.class }}"></i> {{ item.title }}
      </div>
    </ng-template>
    <ng-template accordionContent *ngIf="item.SubMenus.length > 0">
      <div>
        <ul class="accordion-child-menu">
          <li *ngFor="let submenu of item.SubMenus">
            <a href="{{ submenu.link }}">{{ submenu.title }}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </accordion-item>
</accordion> -->

<p-panelMenu [multiple]="false" [model]="items"></p-panelMenu>
<!-- <p-slideMenu [model]="items" [viewportHeight]="500" [menuWidth]="220" appendTo="body"
  styleClass="p-panelMenu"></p-slideMenu> -->
