.reciept-paid,
.reciept-unpaid {
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #444;
  font-weight: bold;
  background: white;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.8rem;
}
.reciept-paid {
  color: green;
}

.reciept-unpaid {
  color: red;
}
