<div class="x_panel">
  <div class="x_title">
    <h2>Appointments</h2>
    <ul class="nav navbar-right panel_toolbox">

    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content_inner">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div class="row">
      <div class="col-4" *ngIf="isAdmin || isStaff">

        <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" novalidate class="fmdc-form">
          <p-divider align="left" type="dashed"><span class="divider-header">Add Appointment</span></p-divider>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="userId">Doctor:</label>
              <p-dropdown [options]=" doctorsList" optionLabel="Name" optionValue="Id" [showClear]="true"
                placeholder="Select a Doctor" id="doctor" id="userId" name="userId" formControlName="userId"
                dataKey="Id" [class.ng-invalid]="userId?.invalid">
              </p-dropdown>
            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="patientId">Patient:</label>
              <p-dropdown [options]=" patientsList" optionLabel="Name" optionValue="Id" [showClear]="true"
                placeholder="Select a Patient" id="patient" id="patientId" name="patientId" formControlName="patientId"
                dataKey="Id" [class.ng-invalid]="patientId?.invalid">
              </p-dropdown>
            </div>
          </div>
          <div class=" p-fluid grid row">
            <div id="errorContainer" class="alert alert-warning text-danger p-fluid grid row col-12" role="alert"
              *ngIf="!mainForm.valid  && isSubmitted">

              <p>Form contains following {{totalErrors}} errors:</p>
              <ul>
                <li *ngFor="let errorStr of validationErrors">
                  {{errorStr.error_message}}
                </li>
              </ul>
            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-4">
              <input type="submit" value="Save" class="btn btn-success btn-filled" />
              <input type="button" value="Reset" class="btn btn-danger btn-filled" />
            </div>
          </div>
        </form>

      </div>

      <div [ngClass]="{'col-8': isAdmin || isStaff, 'col-12' : isDoctor }">

        <p-table #dt [value]="appointments" id="patientsDatatable"
          styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [paginator]="true" [rows]="5"
          [showCurrentPageReport]="true" sortMode="single" [globalFilterFields]="['DoctorName','PatientName']"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5,10,25,50]" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="load($event)"
          [loading]="loading" dataKey="id" [resizableColumns]="true">
          <ng-template pTemplate="caption">
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <p-button label="" (click)="load(null)" icon="pi pi-refresh"></p-button>
              </div>
              <div class="p-toolbar-group-end">
                <div class="p-inputgroup">

                  <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                  <input pInputText type="text" placeholder="Search keyword" #searchTerm />
                  <span class="p-inputgroup-addon">
                    <p-button label="" (click)="applyFilterGlobal(searchTerm.value)" icon="pi pi-filter"></p-button>
                  </span>
                </div>
              </div>
            </p-toolbar>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width:30px">Id</th>
              <th pSortableColumn="1">Date<p-sortIcon field="10"></p-sortIcon>
              </th>
              <th pSortableColumn="2" style="width:50px;">Start Time<p-sortIcon field="12"></p-sortIcon>
              </th>
              <th pSortableColumn="3">End Date<p-sortIcon field="11"></p-sortIcon>
              </th>
              <th pSortableColumn="4" style="width:50px;">End Time<p-sortIcon field="13"></p-sortIcon>
              </th>
              <th pSortableColumn="5">Doctor<p-sortIcon field="1"></p-sortIcon>
              </th>
              <th pSortableColumn="6">Patient<p-sortIcon field="5"></p-sortIcon>
              </th>
              <th *ngIf="isAdmin">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.id}}</td>
              <td>
                {{ item.AppointmentDate | date:'dd-MMM yyyy' }}
              </td>

              <td>
                {{ item.StartTime }}
              </td>
              <td>
                {{ item.AppointmentEndDate | date:'dd-MMM yyyy' }}
              </td>
              <td>
                {{ item.EndTime }}
              </td>

              <td>
                {{ item.DoctorName }}
              </td>
              <td>
                {{ item.PatientName }}
              </td>
              <td *ngIf="isAdmin">
                <div class="input-group">
                  <button type="button" class="p-button-secondary" pTooltip="Delete" pButton pRipple icon="pi pi-times"
                    (click)="Manage(5,item)" pButton pTooltip="Delete"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No Appointments found.</td>
            </tr>
          </ng-template>

        </p-table>

      </div>
    </div>
  </div>

</div>