<!-- <button type="button" pButton label="Show" #appt class="p-button-secondary" (click)="cmappt.toggle($event)"
  [disabled]="disabled"></button>
<p-menu #cmappt [model]="items" styleClass="fmdc-context-menu" [popup]="true" appendTo="body"></p-menu> -->
<div class="p-inputgroup" *ngIf="isAdmin || isStaff">
  <button type="button" pButton label="" class="p-button-secondary" [disabled]="!this.patientButton.StartVisible"
    pTooltip="Start Appoinment" (click)="Manage(1)"><i class="pi pi-fw pi-angle-double-right"></i></button>
  <button type="button" pButton label="" class="p-button-secondary" [disabled]="!this.patientButton.PrescriptionVisible"
    pTooltip="Add Prescription" (click)="Manage(2)"><i class='pi pi-fw pi-mobile'></i></button>
  <button type="button" pButton label="" class="p-button-secondary" [disabled]="!this.patientButton.EndVisible"
    pTooltip="Print Slip" (click)="Manage(3)"><i class="pi pi-fw pi-print"></i></button>
  <button type="button" pButton label="" class="p-button-secondary" [disabled]="!this.patientButton.EndVisible"
    pTooltip="End Appointment" (click)="Manage(4)"><i class="pi pi-fw pi-angle-double-left"></i></button>
  <button type="button" pButton label="" class="p-button-secondary" [disabled]="!this.patientButton.RecieptVisible"
    pTooltip="Add Reciept" (click)="Manage(5)"><i class="pi pi-fw pi-calendar"></i></button>
</div>