<table class="patient-info" *ngIf="isAdmin || isDoctor">
  <tr>
    <td rowspan="3" class="profile">
      <img [src]="patient.hasImage? patient.Picture:'../../../../assets/images/profile.png'" class=" table-img"
        width="120px" height="120px" />
    </td>
    <td class="patient-detail">
      <span class="details-header">MR No:</span>
      <span class="details-value">{{patient.PatientNumber}}</span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Name:</span>
      <span class="details-value">{{patient.Name}}</span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Father / Husband:</span>
      <span class="details-value">{{patient.FatherName}}</span>
    </td>
  </tr>
  <tr>
    <td class="patient-detail">
      <span class="details-header">Gender:</span>
      <span class="details-value">
        <span *ngIf="patient.Gender == '0'">Male</span>
        <span *ngIf="patient.Gender == '1'">Female</span>
        <span *ngIf="patient.Gender == '2'">Other</span>
        <span *ngIf="patient.Gender == undefined || patient.Gender==null"></span>

      </span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Bloodgroup:</span>
      <span class="details-value">{{patient.BloodGroup}}</span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Phone No:</span>
      <span class="details-value">{{patient.PhoneNo}}</span>
    </td>
  </tr>
  <tr>
    <td class="patient-detail">
      <span class="details-header">DOB:</span>
      <span class="details-value">{{patient.DateofBirth|date:"dd/MM/yyyy"}}</span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Age:</span>
      <span class="details-value">{{age}}</span>
    </td>
    <td class="patient-detail">
      <span class="details-header">Created:</span>
      <span class="details-value">{{patient.Created|date:"dd/MM/yyyy"}}</span>
    </td>
  </tr>
</table>