.patient-info .details-header {
  font-weight: bold;
}

.patient-info td.profile {
  width: 10%;
}
.patient-info tr td,
.patient-info .details-value {
  padding-left: 5px;
  /* border: 1px solid red; */
}
.patient-info tr td.patient-detail {
  min-width: 30%;
}
