.NotificationMessage,
.NotificationMessage span {
  line-height: 50px;
  vertical-align: middle;
  font-size: 1rem;
}

.NotificationMessage {
  margin: 0px;
  padding: 0px;

  list-style: none;
}
.NotificationMessage li {
  border-bottom: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  width: 100%;
  height: 50px;
  padding: 0px;
  line-height: 50px;
  vertical-align: middle;
  border-top: none;
  display: flex;
}

.NotificationMessage li:first-child {
  border-top: 1px solid #979797;
}
.NotificationMessage li i,
.NotificationMessage li span {
  float: left;
}

.NotificationMessage li i {
  width: 30px;
  height: 50px;
  margin-right: 5px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.Updated i {
  background-color: rgb(255, 209, 148);
}

.Deleted i {
  background-color: rgb(252, 146, 146);
}

.Added i {
  background-color: rgb(133, 211, 133);
}

.p-button-label,
.p-ink {
  margin-top: 0px !important;
}

.p-button-danger {
  display: block !important;
  width: 100% !important;
  margin-top: 10px !important;
}

.notification-icon {
  border: 1px solid #bb7701;
  padding: 10px;
  border-radius: 5px;
  background: #fdc460;
}
.notification-icon i {
  font-size: 1.4rem;
}
