<div class="x_panel">

  <div class="x_content_inner">
    <p-toast></p-toast>
    <div class="row patient-detail">
      <div class="col-3  profile_left">
        <div class="profile">
          <p-image imageClass="profile-image" [src]="patient.Picture" [preview]="patient.hasImage" class=" table-img"
            width="200px" height="200px"></p-image>

        </div>

        <h3>{{patient.Name}}</h3>
        <ul class="list-unstyled details-detail">
          <li>
            <span class="details-header">MR No:</span>
            <span class="details-value">{{patient.PatientNumber}}</span>
          </li>
          <li>
            <span class="details-header">Address:</span>
            <span class="details-value">{{patient.Address}}</span>
          </li>
          <li>
            <span class="details-header">CNIC:</span>
            <span class="details-value">{{patient.CNIC}}</span>
          </li>
          <li>
            <span class="details-header">Gender:</span>
            <span class="details-value" *ngIf="patient.Gender == '0'">Male</span>
            <span class="details-value" *ngIf="patient.Gender == '1'">Female</span>
            <span class="details-value" *ngIf="patient.Gender == '2'">Other</span>
            <span class="details-value" *ngIf="patient.Gender == undefined || patient.Gender==null"></span>
          </li>
          <li>

            <span class="details-header">Age:</span>
            <span class="details-value">{{age}}</span>
          </li>
          <li>
            <span class="details-header">DOB:</span>
            <span class="details-value">{{patient.DateofBirth|date:"dd/MM/yyyy"}}</span>
          </li>
          <li>
            <span class="details-header">Created:</span>
            <span class="details-value">{{patient.Created|date:"dd/MM/yyyy"}}</span>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <div class="patient-tables">
          <p-toolbar styleClass="patient-details-toolbar">
            <div class="p-toolbar-group-start">
              <p-button [label]="buttonTitle" [icon]="!visible?'pi pi-plus':'pi pi-times'"
                (click)="openAllTabs()"></p-button>
            </div>

            <div class="p-toolbar-group-end">
              <p-button icon="pi pi-list" label="Back to List" styleClass="p-button-danger"
                (click)="backToList()"></p-button>
            </div>
          </p-toolbar>
          <p-accordion iconPos="end" [multiple]="true">
            <p-accordionTab [selected]="visible">
              <ng-template pTemplate="header">
                <i class="fa fa-medkit"></i>&nbsp;
                <span>Prescriptions</span>
              </ng-template>
              <app-prescription-detail [PatientId]="PatientID"></app-prescription-detail>
            </p-accordionTab>
            <p-accordionTab [selected]="visible">
              <ng-template pTemplate="header">
                <i class="fa fa-shield"></i>&nbsp;
                <span>Lab Reports</span>
              </ng-template>
              <app-reports-detail [PatientId]="PatientID"></app-reports-detail>
            </p-accordionTab>
            <p-accordionTab [selected]="visible">
              <ng-template pTemplate="header">
                <i class="fa fa-code-fork"></i> &nbsp;
                <span>Appointments</span>
              </ng-template>
              <app-appointment-details [PatientId]="PatientID"></app-appointment-details>
            </p-accordionTab>
            <p-accordionTab [selected]="visible">
              <ng-template pTemplate="header">
                <i class="fa fa-line-chart"></i>&nbsp;
                <span>Reciepts</span>
              </ng-template>
              <app-reciept-detail [PatientId]="PatientID"></app-reciept-detail>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>


  </div>
</div>