<div class="modal-header">
  <i class="fa fa-user-check"></i>
  <h5 class="modal-title">{{ title }}!</h5>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close(isSuccessful)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Name:</span>
      </div>
      <input type="text" class="form-control" value="{{ uname }}" />
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">User Id:</span>
      </div>
      <input
        tabindex="1"
        id="userId"
        type="text"
        value="{{ id }}"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        class="form-control"
        tabindex="2"
        id="oldPassword"
        formControlName="oldPassword"
        [class.ng-invalid]="oldPassword?.invalid"
        [ngbTooltip]="oldPassword.errors?.['required']?'Old password is
      required':''"
        #toldpwd="ngbTooltip"
        tooltipClass="errorTooltip"
        triggers="manual"
        (click)="toggleWithErrors(toldpwd,oldPassword.errors?.['required'])"
      />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        class="form-control"
        tabindex="2"
        id="newPassword"
        formControlName="newPassword"
        [class.ng-invalid]="newPassword?.invalid"
        [ngbTooltip]="newPassword.errors?.['required']?'New password is
      required':''"
        #tnewpwd="ngbTooltip"
        tooltipClass="errorTooltip"
        triggers="manual"
        (click)="toggleWithErrors(tnewpwd,newPassword.errors?.['required'])"
      />
    </div>
    <div class="form-group">
      <label for="cfmPassword">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        tabindex="2"
        id="cfmPassword"
        formControlName="cfmPassword"
        [class.ng-invalid]="cfmPassword?.invalid"
        [ngbTooltip]="cfmPassword.errors?.['required']?'Confirm password is
      required':cfmPassword.errors?.['passwordMismatch']?'Password do not
      match':''"
        #tcfmpwd="ngbTooltip"
        tooltipClass="errorTooltip"
        triggers="manual"
        (click)="toggleWithErrors(tcfmpwd,cfmPassword.errors?.['required'] || cfmPassword.errors?.['passwordMismatch'])"
      />
    </div>

    <div class="modal-footer">
      <div class="row" style="width: 100%">
        <div class="col-9">
          <div
            class="alert alert-danger"
            *ngIf="isSignUpFailed"
            style="width: 100% !important"
          >
            {{ errorMessage }}
          </div>
          <div
            class="alert alert-success"
            *ngIf="isSuccessful"
            style="width: 100% !important"
          >
            {{ errorMessage }}
          </div>
        </div>
        <div class="col-2">
          <button
            [disabled]="!changePasswordForm.valid"
            type="submit"
            class="btn btn-success"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
