.errorTooltip .tooltip-inner {
  background-color: red;
  font-size: 125%;
}

.errorTooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: red;
}

.errorTooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: red;
}

.errorTooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: red;
}

.errorTooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: red;
}
