.vitals {
  height: 100%;
}

.vitals-header {
  display: flex;

  border: 1px solid #ccc;
  margin: 3px 0px;
}

.vitals-header p {
  margin: 0px 3px;
  color: red;
  padding: 5px;
  /* min-width: 65%; */
  line-height: 30px;
}

.vitals-header b {
  margin: 0px 3px;
  color: black !important;
  padding: 5px;
  border-right: 1px solid #ccc;
  min-width: 30%;
  line-height: 30px;
}

.p-highlight .vitals-content {
  color: white;
}

.vitals-header sub {
  margin-left: 5px;
  color: black;
  font-size: 6pt;
  line-height: 30px;

  text-align: left;
  /* border: 1px solid red; */
}
