.badge {
  margin-left: 5px;
  /* border: 1px solid #ccc; */
  background: rgb(111, 66, 193);
  color: white;
  font-size: 10pt;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
}
