<p-table #dt [value]="recieptProcedures" id="proceduresDatatable" id="reciept-table"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [lazy]="true" (onLazyLoad)="load()"
  [loading]="loading">

  <ng-template pTemplate="header">
    <tr>
      <th width="10%">S.No.</th>

      <th width="60%">Item</th>
      <th width="20%">Cost</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr>
      <td>
        {{rowIndex + 1}}
      </td>
      <td>
        {{ item.Name }}
      </td>
      <td>
        PKR {{ item.Cost }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No procedures have been added</td>
    </tr>
  </ng-template>

</p-table>