<form [formGroup]="AddAppointmentForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon appointment-control" style="width:20%;">Select Doctor:</span>
    <span class="p-inputgroup-addon appointment-control" style="width:60%;">
      <select formControlName="userId" [selectedIndex]="1" [class.ng-invalid]="userId?.invalid"
        [pTooltip]="userId?.invalid?'Doctor is required':''" tooltipPosition="right" tooltipStyleClass="p-tooltip-error"
        class="form-select">
        <option *ngFor=" let item of doctorsList" value="{{ item.Id }}">
          {{ item.Name }}
        </option>
      </select>
    </span>
    <span class="p-inputgroup-addon appointment-control" style="width:20%;"><button pButton label="Submit"
        [disabled]="!AddAppointmentForm.valid" type="submit" class="p-button-success"></button></span>
  </div>

</form>