<div class="x_panel reciept">
  <div class="x_title">
    <h2>Generate reciept</h2>
    <ul class="nav navbar-right panel_toolbox">

    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content_inner">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>

    <div class="row">
      <div class="col-4">

        <form [formGroup]="mainForm" novalidate>

          <p-divider align="left" type="dashed"><span class="divider-header">Add Procedure</span></p-divider>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="procedureId">Procedure:</label>
              <p-dropdown [options]=" proceduresList" optionLabel="Name" optionValue="Id" [showClear]="true"
                placeholder="Select a Procedure" id="procedureId" id="procedureId" name="procedureId"
                formControlName="procedureId" dataKey="Id">
              </p-dropdown>

            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-6 md:col-4">
              <button pButton type="button" label="Add" class="p-button-help" (click)="addProcedure()"></button>
            </div>
          </div>

          <p-divider align="left" type="dashed"><span class="divider-header">Add Discount &amp;
              AuthorizedBy</span></p-divider>
          <div class=" p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="discount">Discount:</label>
              <p-inputNumber formControlName="discount" [showButtons]="true" mode="decimal" [minFractionDigits]="2"
                [min]="0" [max]="100" [step]="5"></p-inputNumber>
            </div>
          </div>
          <div class="p-fluid grid row">
            <div class="field col-12 md:col-12">
              <label for="patientId">Authorized By:</label>
              <p-dropdown [options]=" doctorsList" optionLabel="Name" optionValue="Id" [showClear]="true"
                placeholder="Select a Doctor" id="doctor" id="doctorId" name="doctorId" formControlName="doctorId"
                dataKey="Id">
              </p-dropdown>
            </div>
          </div>

          <div class="p-fluid grid row">
            <div class="field col-6 md:col-4">
              <button pButton type="button" label="Add Discount" [disabled]="discountDisabled" (click)="addDiscount()"
                class="p-button-warning"></button>
            </div>
          </div>
          <p-divider align="left" type="dashed"><span class="divider-header">Generate Reciept</span></p-divider>

          <div class="p-fluid grid row">
            <div class="field col-6 md:col-4">
              <button pButton type="button" label="Generate Reciept" [disabled]="discountDisabled"
                (click)="generateReciept()" class="p-button-success"></button>
            </div>
            <div class="field col-4 md:col-4">
              <button pButton type="button" label="Reset" class="p-button-danger "></button>
            </div>
          </div>

        </form>

      </div>
      <div class="col-8">

        <div class="row">
          <div class="col-2">
            <img class="reciept-header-img" src="../../../../assets/images/fmdclogo.png" />
          </div>
          <div class="col-10">
            <h4> FEDERAL MEDICAL AND DIAGNOSTIC CENTER</h4>
          </div>
        </div>
        <div class="row">
          <p-table #dt [value]="procedures" id="proceduresDatatable" id="reciept-table"
            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [lazy]="true" (onLazyLoad)="load()"
            [loading]="loading">
            <ng-template pTemplate="caption">
              <div class="row reciept-header">
                <div class="col">
                  <div class="row">
                    <div class="col-2">
                      <label class="reciept-label">Doctor:</label>
                    </div>
                    <div class="col-10">
                      <label class="reciept-detail">Dr. {{reciept.Doctor}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-2">
                      <label class="reciept-label">Name:</label>
                    </div>

                    <div class="col-4">
                      <label class="reciept-detail">{{reciept.PatientName}}</label>
                    </div>

                    <div class="col-2">
                      <label class="reciept-label">MR No:</label>
                    </div>

                    <div class="col-4">
                      <label class="reciept-detail">{{reciept.PatientNumber}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-2">
                      <label class="reciept-label">Date:</label>
                    </div>

                    <div class="col-4">
                      <label class="reciept-detail">{{reciept.Date}}</label>
                    </div>
                    <div class="col-2">
                      <label class="reciept-label">Time:</label>
                    </div>

                    <div class="col-4">
                      <label class="reciept-detail"> {{reciept.Time}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th width="10%">S.No.</th>
                <th width="60%">Item</th>
                <th width="20%">Cost</th>
                <th width="10%">Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  {{item.SNo}}
                </td>

                <td>
                  {{ item.Name }}
                </td>

                <td>
                  Rs. {{ item.Cost }}
                </td>

                <td class="action-column">
                  <span class="p-buttonset">
                    <button type="button" class="p-button-danger p-button-outlined p-button-rounded" pButton pRipple
                      icon="pi pi-times" (click)="deleteProcedure(item.SNo)"></button>
                  </span>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">No procedures have been added</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">

              <tr>
                <td colspan="2">
                  <label class="reciept-footer-label">Total:</label>
                </td>
                <td colspan="2">
                  Rs. <span id="Total">{{reciept.Total}}</span>
                </td>

              </tr>
              <tr>
                <td colspan="2">
                  <label class="reciept-footer-label">Discount:</label>
                </td>
                <td colspan="2">{{reciept.Discount}}%</td>
              </tr>
              <tr>
                <td colspan="2">
                  <label class="reciept-footer-label">Authorized By</label>
                </td>
                <td colspan="2">{{AuthorizedBy}}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <label class="reciept-footer-label">Grand Total:</label>
                </td>
                <td colspan="2">Rs. <span id="GrandTotal">{{reciept.GrandTotal}}</span></td>
              </tr>

            </ng-template>
          </p-table>

        </div>



      </div>
    </div>

  </div>

</div>